nav{
    background-color: #ccc;
    border-bottom:solid black 2px;
    position: fixed;
    width: 100%;
    top: 0;
  text-align: center;

}

.main{
    margin-top: 50px;   
}
.content{
    margin-left: 60px;
    margin-top: px;
}
aside{
    background-color: #ccc;
    position: fixed;
    margin-top: 10px;
    height: 100%;
    width: 50px;
   
}
.header{
    position: sticky;
    position: -webkit-sticky;
    top: 0px; 
    background-color:#ccc;
    /* z-index: 10; */
    padding: 8px;
    border-bottom: 2px solid #ccc;
    text-align: center;
    

}